:root {
  --theme-color: white;
  --primario: #124f88;
  --secundario: #f7c331;
  --text-color: black;
  --text-color-inverse: white;
  --navbar-shalllow-color: #e5e5e5;
  --menu-mobile-background-color: #3a4460;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 90px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.instagram {
  display: none;
}

@media (min-width: 950px) {
  .instagram {
    display: contents;
  }
}
