:root {
  --theme-color: white;
  --primario: #124f88;
  --secundario: #f7c331;
  --text-color: black;
  --text-color-inverse: white;
  --navbar-shalllow-color: #e5e5e5;
  --menu-mobile-background-color: #3a4460;
}

// FIN VARIABLES
//  COMIENZO MIXIN
@mixin flexible($dis, $direction, $just, $align) {
  display: $dis;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

// FIN MIXINS
// COMIENZO IMPORT
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import "./pages/index";
@import "./pages/contacto";
@import "./pages/rugby";
@import "./pages/hockey";
@import "./pages/clubstore";
@import "./components/navbar";
@import "./components/footer";