footer {
    background-color: var(--primario);
    color: var(--text-color-inverse);
    width: 100%;
    box-shadow: 5px 0px 5px var(--menu-mobile-background-color);
}

.container-footer {
    width: 100%;
    max-width: 475px;
    margin: auto;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.columna1 {
    width: 100%;
    margin: auto;

    & h2 {
        font-size: 18px;
    }
}

.row-info {
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & label {
        margin-left: 5px;
    }

    & img {
        height: 20px;
        width: 20px;
    }
}

.columna2 {
    width: 100%;
    margin: auto;

    & h2 {
        font-size: 18px;
    }
}

.row-rs {
    margin: 8px 0;
    display: flex;
    justify-content: center;

    & img {
        height: 40px;
        width: 40px;

        img {
            color: var(--text-color-inverse);
        }
    }

    & label {
        margin-top: 13px;
        margin-left: 15px;
    }
}

@media (min-width: 950px) {
    .container-footer {
        max-width: 950px;
        margin: 0 auto;
    }

    .container-body {
        width: 100%;
        display: flex;
    }

    .columna1 {
        max-width: 475px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .row-info {
        margin-top: 9px;
        display: flex;
    }

    .columna2 {
        max-width: 475px;
        display: flex;
        flex-direction: column;
    }

    .row-rs {
        margin-top: 10px;
        display: flex;

        & img {
            color: var(--text-color-inverse);
        }
    }
}